/* width */
::-webkit-scrollbar {
  width: 10px;
  display: none;
}

/* Track */
::-webkit-scrollbar-track {
  background: white;
  border-radius: 50px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #2b2b2b;
  border-radius: 50px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #2b2b2b;
}
